.DS_Store
.npm-cache/
.env
.env.*
!.env.example

frontend/.next/
frontend/node_modules/
frontend/coverage/

backend/.bundle/
backend/.kamal/secrets
backend/config/master.key
backend/coverage/
backend/log/*
!backend/log/.keep
backend/storage/*
!backend/storage/.keep
backend/tmp/*
!backend/tmp/.keep
!backend/tmp/pids/
!backend/tmp/pids/.keep
!backend/tmp/storage/
!backend/tmp/storage/.keep
