DATABASE_URL=postgresql://postgres:postgres@localhost:5432/intern_scout_development
DEMO_MODE=false
FRONTEND_ORIGIN=http://localhost:3000
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=no-reply@intern-scout.example
